<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Check your Roommate</title>
  <link rel="stylesheet" href="../static/css/check.css" type="text/css">
</head>

<body>
<header>
  <a href="./main.html">
    <img class='logo' src='../static/image/logo.png'>
  </a>
  <div class="tapWrap">
    <div class="roommate">
      <a href="./check.html">룸메이트 찾기</a>
    </div>
    <div class="community">
      <a href="">Community</a>
    </div>
    <div class="ai_recommend">
      <a href="./roommate_profile.html">AI추천</a>
    </div>
    <div class="member">
      <a href="">Member</a>
    </div>
    <div class="mypage">
      <a href="./my_page_2.html">My Page</a>
    </div>
  </div>
  <div class="profile_box">
    <a href="./my_profile.html">Profile</a>
  </div>
  <!--<div class="line"></div>-->
</header>

<nav>
  <div class="title">
    <h1>Check your Roommate</h1>
    <p>조건을 걸어 본인과 잘 맞는 룸메이트의 프로필을 조회해보세요!</p>
  </div>
</nav>

<main>
  <div class="category" id="categoryFiltering">
    <button class="category-button-a">필터링</button>
<!--    <div class="dropdown-menu">-->
      <div id="filterModal" class="modal">
        <span class="close">&times;</span>
        <form id="filterForm">
          <h2>필터링 조건</h2>
          <label for="age">나이:</label>
          <select id="age" name="age">
            <option value="2002">05년생</option>
            <option value="2003">04년생</option>
            <option value="2004">03년생</option>
            <option value="2005">02년생</option>
            <option value="2001">01년생 이전</option>
          </select><br>

          <label for="year">학번:</label>
          <select id="year" name="year">
            <option value="2021">24학번</option>
            <option value="2022">23학번</option>
            <option value="2023">22학번</option>
            <option value="2024">21학번</option>
            <option value="2020">20학번 이전</option>
          </select><br>

          <label for="major">전공:</label>
          <input type="text" id="major" name="major"><br>

          <label for="bedtime">취침시간:</label>
          <select id="bedtime" name="bedtime">
            <option value="one">22~23시</option>
            <option value="two">23시~00시</option>
            <option value="three">00시~01시</option>
            <option value="four">01시~02시</option>
            <option value="five">02시 이후</option>
          </select><br>

          <label for="smoking">흡연 여부:</label>
          <select id="smoking" name="smoking">
            <option value="no">비흡연자</option>
            <option value="yes">흡연자</option>
          </select><br>

          <label for="cleaning">청소 주기:</label>
          <select id="cleaning" name="cleaning">
            <option value="sometimes">그때그때</option>
            <option value="middle">중간</option>
            <option value="all">한번에</option>
          </select><br>

          <label for="alcohol">술자리 빈도:</label>
          <select id="alcohol" name="alcohol">
            <option value="no">안마심</option>
            <option value="commonly">보통</option>
            <option value="often">자주</option>
            <option value="everyday">매일</option>
          </select><br>

          <label for="mbti">MBTI:</label>
          <input type="text" id="mbti" name="mbti"><br>

          <button type="button" id="applyFilters">적용</button>
        </form>
      </div>
<!--    </div>-->
  </div>

  <div class="category" id="ageCategory">
    <button class="category-button-b">나이</button>
    <div class="dropdown-menu">
      <a href="#">05년생</a>
      <a href="#">04년생</a>
      <a href="#">03년생</a>
      <a href="#">02년생</a>
      <a href="#">01년생 이하</a>
    </div>
  </div>

  <div class="category" id="studentIdCategory">
    <button class="category-button-b">학번</button>
    <div class="dropdown-menu">
      <a href="#">24학번</a>
      <a href="#">23학번</a>
      <a href="#">22학번</a>
      <a href="#">21학번</a>
      <a href="#">20학번 이하</a>
    </div>
  </div>

  <div class="category" id="majorCategory">
    <button class="category-button-b">전공</button>
    <div class="dropdown-menu">
      <a href="#">인문대</a>
      <a href="#">사회과학</a>
      <a href="#">공대</a>
      <a href="#">자연과학대</a>
      <a href="#">예체능</a>
      <a href="#">의학 및 보건</a>
    </div>
  </div>

  <div class="category" id="bedTimeCategory">
    <button class="category-button-b">취침시간</button>
    <div class="dropdown-menu">
      <a href="#">10-11</a>
      <a href="#">11-12</a>
      <a href="#">12-01</a>
      <a href="#">01-02</a>
    </div>
  </div>

  <div class="category" id="smokeCategory">
    <button class="category-button-b">흡연 여부</button>
    <div class="dropdown-menu">
      <a href="#">흡연</a>
      <a href="#">비흡연</a>
    </div>
  </div>

  <div class="category" id="cleaningCategory">
    <button class="category-button-b">청소 주기</button>
    <div class="dropdown-menu">
      <a href="#">바로바로</a>
      <a href="#">중간</a>
      <a href="#">한번에</a>
    </div>
  </div>

  <div class="category" id="AlcholCategory">
    <button class="category-button-b">알코올</button>
    <div class="dropdown-menu">
      <a href="#">안마심</a>
      <a href="#">보통</a>
      <a href="#">자주</a>
      <a href="#">매일</a>
    </div>
  </div>

  <div class="category" id="MbtiCategory">
    <button class="category-button-b">MBTI</button>
    <div class="dropdown-menu">
      <a href="#">ESTP</a>
      <a href="#">ESFP</a>
      <a href="#">ENFP</a>
      <a href="#">ENTP</a>
      <a href="#">ESTJ</a>
      <a href="#">ESFJ</a>
      <a href="#">ENFJ</a>
      <a href="#">ENTJ</a>
      <a href="#">ISTJ</a>
      <a href="#">ISFJ</a>
      <a href="#">INFJ</a>
      <a href="#">INTJ</a>
      <a href="#">ISTP</a>
      <a href="#">ISFP</a>
      <a href="#">INFP</a>
      <a href="#">INTP</a>
    </div>
  </div>

  <div class="search-container">
    <input class="search-input" type="text" placeholder="Search...">
    <button class="search-button">검색</button>
  </div>

  <div class="profile-container">
    <div class="profile">
      <div class="cover"></div>
      <div class="ava"></div>
      <div class="details">
        <div class="nickname">침대랑 룸메이트</div>
        <div class="info">
          20학번 / 컴퓨터공학과 / 01년생 / ISTP / 침대랑 베프
        </div>
      </div>
      <div class="profile-title">"저는 혼자 있는 게 좋아요"</div>
      <button class="profile-more">More</button>
    </div>

    <div class="profile profile2">
      <div class="cover"></div>
      <div class="ava"></div>
      <div class="details">
        <div class="nickname">3대 500 목표</div>
        <div class="info">
          21학번 / 경영학과 / 01년생 / ESFP / 운동광
        </div>
      </div>
      <div class="profile-title">"같이 프로틴 먹고 운동할 룸메 선호"</div>
      <button class="profile-more">More</button>
    </div>

    <div class="profile profile3">
      <div class="cover"></div>
      <div class="ava"></div>
      <div class="details">
        <div class="nickname">새나라의 어린이</div>
        <div class="info">
          24학번 / 체육학과 / 05년생 / ESTJ / 3-4시 취침
        </div>
      </div>
      <div class="profile-title">"타 전공 룸메 원해요"</div>
      <button class="profile-more">More</button>
    </div>
  </div>


</main>

<script src="../static/js/modal.js"></script>
<script src="../static/js/addEventListener.js"></script>

</body>

</html>

