<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Check your Roommate</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
  <header>
      <div class="logo">
        <a href="#"><img src="logo.png" alt="logo_img"></a>
      </div>
      <ul class="nav-links">
        <li><a href="#">룸메이트 추천</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">AI 추천</a></li>
        <li><a href="#">Member</a></li>
        <li><a href="#">My page</a></li>
      </ul>
  </header>
  <nav>
    <div class="title">
      <h1>Check your Roommate</h1>
      <p>조건을 걸어 본인과 잘 맞는 룸메이트의 프로필을 조회해보세요!</p>
    </div>
    <div class="filter">
      <button>나이</button>
      <button>학번</button>
      <button>전공</button>
      <button>취침시간</button>
      <button>흡연여부</button>
      <button>청소주기</button>
      <button>음주빈도</button>
      <button>MBTI</button>
      <div class="searchBar"></div>
    </div>
  </nav>
  <main>
    <div class="roommate">
      <img src="sky.jpg" alt="img 1">
      <h2>" 자기소개 한 문장 레고 "</h2>
      <ul class="sum_profile">
        <li>23학번</li>
        <li>컴퓨터공학과</li>
        <li>12 - 1시 취침</li>
      </ul>
      <button>More</button>
    </div>
    <div class="roommate">
      <img src="starry.jpg" alt="img 2">
      <h2>" 자기소개 한 문장 레고 "</h2>
      <ul class="sum_profile">
        <li>23학번</li>
        <li>컴퓨터공학과</li>
        <li>12 - 1시 취침</li>
      </ul>
      <button>More</button>
    </div>
    <div class="roommate">
      <img src="blue.jpg" alt="img 3">
      <h2>" 자기소개 한 문장 레고 "</h2>
      <ul class="sum_profile">
        <li>23학번</li>
        <li>컴퓨터공학과</li>
        <li>12 - 1시 취침</li>
      </ul>
      <button>More</button>
    </div>
  </main>
  <main>
    <div class="roommate">
      <img src="sky.jpg" alt="img 1">
      <h2>" 자기소개 한 문장 레고 "</h2>
      <ul class="sum_profile">
        <li>23학번</li>
        <li>컴퓨터공학과</li>
        <li>12 - 1시 취침</li>
      </ul>
      <button>More</button>
    </div>
    <div class="roommate">
      <img src="starry.jpg" alt="img 2">
      <h2>" 자기소개 한 문장 레고 "</h2>
      <ul class="sum_profile">
        <li>23학번</li>
        <li>컴퓨터공학과</li>
        <li>12 - 1시 취침</li>
      </ul>
      <button>More</button>
    </div>
    <div class="roommate">
      <img src="blue.jpg" alt="img 3">
      <h2>" 자기소개 한 문장 레고 "</h2>
      <ul class="sum_profile">
        <li>23학번</li>
        <li>컴퓨터공학과</li>
        <li>12 - 1시 취침</li>
      </ul>
      <button>More</button>
    </div>
  </main>
</body>

</html>