<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main</title>
  <link rel="stylesheet" href="../static/css/main_style.css">

</head>

<body>
  <a href="./main.html">
    <img class='logo' src='../static/image/logo.png'></img>
  </a>
  <div class=roommate>
    <a href="./check.html">룸메이트 찾기</a>
  </div>
  <div  class="community">
    <a href="">Community</a>
  </div>
  <div  class="ai_recommend">
    <a href="./my_page.html">AI추천</a>
  </div>
  <div  class="member">
    <a href="">Member</a>
  </div>
  <div class=profile_box>
    <div class=profile>
      <a href="./my_profile.html">Profile</a>
    </div>
  </div>
  <div class="line"></div>
</header>

  
  <main>
    <img src="../static/image/background.png" alt=" ">
    <div class="main-text">
      <h1>
        AI Recommend
        <br/>
        your Roommate.
      </h1>
    </div>
    <div class="sub-title">
      선호하는 룸메이트 프로필을 입력하여 나와 잘 맞는 사람을 살펴보세요.
    </div>
    <div class="aiBtn">
      <a href="./roommate_profile.html">Go to AI</a>
    </div>
  </main>

</body>

</html>