<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main</title>
  <link rel="stylesheet" href="../static/css/main_style.css">

</head>

<body>
  <header>
    <img class="page-logo" src="../static/image/logo.png">
    <div class="header-right-section">
      <div class="tabs">
        <div class="tab-item">룸메이트 찾기</div>
        <div class="tab-item">Community</div>
        <div class="tab-item">AI 추천</div>
        <div class="tab-item">Member</div>
      </div>
      <div class="profile">
        <div class="nickname">BaeBae</div>
        <div class="profile-img">🦁</div>
      </div>
    </div>
  </header>
  <main>
    <img src="../static/image/background.png" alt=" ">
    <div class="main-text">
      <h1>
        AI Recommend
        <br/>
        your Roommate.
      </h1>
    </div>
    <div class="sub-title">
      선호하는 룸메이트 프로필을 입력하여 나와 잘 맞는 사람을 살펴보세요.
    </div>
    <div class="aiBtn">
      <a href="#">Go to AI</a>
    </div>
  </main>

</body>

</html>