<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="w-[1366px] h-[768px] relative overflow-hidden bg-white">
    <div class="w-[1366px] h-[76px] absolute left-0 top-0">
      <div
        class="w-[1366px] h-[76px] absolute left-[-1px] top-[-1px] bg-white"
        style="box-shadow: 0px 1px 0px 0 rgba(17,17,17,0.1);"
      ></div>
      <div class="absolute left-[-1.21px] top-[-1.21px]"></div>
      <div class="w-[542px] h-[71px]">
        <div
          class="flex flex-col justify-start items-start absolute left-[800px] top-[7px] overflow-hidden"
        >
          <div class="flex-grow-0 flex-shrink-0 w-px h-[21px] relative overflow-hidden"></div>
          <p class="flex-grow-0 flex-shrink-0 text-base text-left text-[#6b6b6b]">룸메이트 찾기</p>
          <div class="flex-grow-0 flex-shrink-0 w-px h-[25px] relative overflow-hidden"></div>
        </div>
        <div
          class="flex flex-col justify-start items-center absolute left-[917px] top-[7px] overflow-hidden bg-white border-t-0 border-r-0 border-b border-l-0 border-white"
        >
          <div class="flex-grow-0 flex-shrink-0 w-px h-[21px] relative overflow-hidden"></div>
          <p class="flex-grow-0 flex-shrink-0 text-base text-left text-[#111]/[0.48]">Community</p>
          <div class="flex-grow-0 flex-shrink-0 w-px h-[25px] relative overflow-hidden"></div>
        </div>
        <div
          class="flex flex-col justify-start items-start absolute left-[1023px] top-[7px] overflow-hidden"
        >
          <div class="flex-grow-0 flex-shrink-0 w-px h-[21px] relative overflow-hidden"></div>
          <p class="flex-grow-0 flex-shrink-0 text-base text-left text-[#111]">AI추천</p>
          <div class="flex-grow-0 flex-shrink-0 w-px h-[25px] relative overflow-hidden"></div>
        </div>
        <div
          class="flex flex-col justify-start items-start absolute left-[1096px] top-1.5 overflow-hidden"
        >
          <div class="flex-grow-0 flex-shrink-0 w-px h-[21px] relative overflow-hidden"></div>
          <p class="flex-grow-0 flex-shrink-0 text-base text-left text-[#111]/[0.48]">Member</p>
          <div class="flex-grow-0 flex-shrink-0 w-px h-[25px] relative overflow-hidden"></div>
        </div>
        <div
          class="flex justify-start items-center absolute left-[1180px] top-[18px] overflow-hidden gap-3"
        >
          <p class="flex-grow-0 flex-shrink-0 w-[106px] text-base text-right text-[#6e41e2]">
            BaeBae
          </p>
          <div class="flex-grow-0 flex-shrink-0 w-11 h-11 relative">
            <svg
              width="44"
              height="44"
              viewBox="0 0 44 44"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="absolute left-[-0.9px] top-[-0.9px]"
              preserveAspectRatio="xMidYMid meet"
            >
              <circle cx="22" cy="22" r="22" fill="#F1F1F1"></circle>
            </svg>
            <p
              class="w-[23.69px] h-[33.85px] absolute left-[10.15px] top-[5.08px] text-[25.384614944458008px] font-bold text-center text-black"
            >
              🦁
            </p>
          </div>
        </div>
      </div>
      <img src="logo-1.png" class="w-[130px] h-[45px] absolute left-[29px] top-3.5 object-cover" />
      <div class="w-[393px] h-[77px] absolute left-[787px] top-0 overflow-hidden"></div>
    </div>
    <div
      class="flex flex-col justify-start items-start w-[616px] absolute left-[51px] top-[250px] overflow-hidden gap-8"
    >
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative overflow-hidden gap-6"
      >
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-[616px] text-[56px] font-black text-left text-black"
        >
          <span
            class="self-stretch flex-grow-0 flex-shrink-0 w-[616px] text-[56px] font-black text-left text-black"
            >AI Recommend</span
          ><br /><span
            class="self-stretch flex-grow-0 flex-shrink-0 w-[616px] text-[56px] font-black text-left text-black"
            >your Roommate.</span
          >
        </p>
        <p class="self-stretch flex-grow-0 flex-shrink-0 w-[616px] text-base text-left text-black">
          선호하는 룸메이트 프로필을 입력하여 나와 잘 맞는 사람을 살펴보세요!
        </p>
      </div>
      <div class="flex justify-start items-start flex-grow-0 flex-shrink-0 overflow-hidden gap-4">
        <div
          class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 px-5 py-2.5 rounded bg-[#6e41e2]"
        >
          <div
            class="flex justify-start items-center flex-grow-0 flex-shrink-0 relative overflow-hidden gap-2 rounded"
          >
            <p class="flex-grow-0 flex-shrink-0 text-base text-center text-white">Go to AI</p>
          </div>
        </div>
        <div
          class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 px-5 py-2.5 rounded"
        >
          <div
            class="flex justify-start items-center flex-grow-0 flex-shrink-0 relative overflow-hidden gap-2 rounded"
          >
            <p class="flex-grow-0 flex-shrink-0 text-base text-center text-[#6e41e2]">
              More information
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-[41.68px] h-[41.68px] absolute left-[536.92px] top-[137.75px] rounded bg-[#6e41e2]"
    ></div>
    <div
      class="w-[68.56px] h-[68.56px] absolute left-[178.76px] top-[622.28px] rounded-xl bg-[#ffcd1d]"
    ></div>
    <div
      class="w-[93px] h-[93px] absolute left-[1313.76px] top-[678px] rounded-[18px] bg-[#27ae60]"
    ></div>
    <svg
      width="55"
      height="53"
      viewBox="0 0 55 53"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="absolute left-[29px] top-[150.52px]"
      preserveAspectRatio="xMidYMid meet"
    >
      <path
        d="M11.9232 2.70634C11.4211 0.835095 13.6068 -0.585484 15.113 0.633234L27.6066 10.7427C28.2801 11.2877 29.228 11.3371 29.9545 10.8649L43.43 2.10677C45.0545 1.05096 47.0809 2.69074 46.3873 4.49976L40.6333 19.5059C40.3231 20.3149 40.5691 21.2317 41.2427 21.7767L53.7363 31.8862C55.2424 33.1049 54.3091 35.5389 52.3743 35.4382L36.3246 34.6031C35.4593 34.558 34.6634 35.0753 34.3532 35.8843L28.5992 50.8904C27.9056 52.6995 25.3023 52.564 24.8002 50.6927L20.6348 35.1704C20.4103 34.3336 19.6724 33.7365 18.8071 33.6915L2.75733 32.8563C0.822504 32.7556 0.146882 30.2379 1.77137 29.1821L15.2468 20.4239C15.9733 19.9518 16.3131 19.0655 16.0886 18.2287L11.9232 2.70634Z"
        fill="#75CF88"
      ></path>
    </svg>
    <div
      class="w-[93px] h-[93px] absolute left-[574.76px] top-[661px] rounded-[100px] bg-[#f98453]"
    ></div>
  </div>
</body>
</html>