<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My_Page</title>
    <link rel="stylesheet" href="../static/css/mypage_2.css">
</head>

<body>
    <header>
        <a href="./main.html">
          <img class='logo' src='../static/image/logo.png'></img>
        </a>
        <div class="tapWrap">
          <div class=roommate>
            <a href="./check.html">룸메이트 찾기</a>
          </div>
          <div class="community">
            <a href="">Community</a>
          </div>
          <div class="ai_recommend">
            <a href="./roommate_profile.html">AI추천</a>
          </div>
          <div class="member">
            <a href="">Member</a>
          </div>
          <div class="mypage">
            <a href="./my_page_2.html">My Page</a>
          </div>
        </div>
        <div class=profile_box>
          <a href="./my_profile.html">Profile</a>
        </div>
        <!--<div class="line"></div>-->
      </header>
    <main>
        <div class="myPic">
            <div class="imgWrap">
                <img src="../static/image/jjun.jpg" alt="myPhoto">
            </div>
            <h1>"룸메와 즐겁게<br>지내고 싶습니다."</h1>
        </div>
        <div class="myInfo">
            <div class="information">
                <div class="infoTitle">이름</div>
                <div class="infoContent">이준혁</div>
            </div>
            <div class="information">
                <div class="infoTitle">나이</div>
                <div class="infoContent">24</div>
            </div>
            <div class="information">
                <div class="infoTitle">학번</div>
                <div class="infoContent">2020105048</div>
            </div>
            <div class="information">
                <div class="infoTitle">전공</div>
                <div class="infoContent">체육학과</div>
            </div>
            <div class="information">
                <div class="infoTitle">MBTI</div>
                <div class="infoContent">ENTJ</div>
            </div>
            <div class="information">
                <div class="infoTitle">취침시간</div>
                <div class="infoContent">1-2 am</div>
            </div>
            <div class="information">
                <div class="infoTitle">알코올</div>
                <div class="infoContent">가끔</div>
            </div>
            <div class="information">
                <div class="infoTitle">청소주기</div>
                <div class="infoContent">그때그때</div>
            </div>
        </div>
        <div class="radioBtn">
            <label class="custom-radio">
                <input type="radio" name="privacy" value="public" checked="checked">
                <span class="radio-label">공개설정</span>
                <span class="radio-mark"></span>
            </label>
            <label class="custom-radio">
                <input type="radio" name="privacy" value="private">
                <span class="radio-label">비공개</span>
                <span class="radio-mark"></span>
            </label>
        </div>
    </main>
    <script src="../static/js/my_page_2.js"></script>
</body>