<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/roommate_profile.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>

  <header>
    <a href="./main.html">
      <img class='logo' src='../static/image/logo.png'></img>
    </a>

    <div class=roommate>
      <a href="./check.html">룸메이트 찾기</a>
    </div>
    <div  class="community">
      <a href="">Community</a>
    </div>
    <div  class="ai_recommend">
      <a href="./my_page.html">AI추천</a>
    </div>
    <div  class="member">
      <a href="">Member</a>
    </div>
    <div class=profile_box>
      <div class=profile>
        <a href="./my_profile.html">Profile</a>
      </div>
    </div>
    <div class="line"></div>
  </header>


  <div class="box">
  <div class = 'registration_box'>
    <div class='registration'>registration</div>
  </div>

    <span  class="my_profile">Roommate_profile</span>


    <div class="id_button">학번</div>

    <div class="id-container">
        <select name="student_id" class="select">
          <option value="0" selected>20학번 이전</option>
          <option value="1">21학번</option>
          <option value="2">22학번</option>
          <option value="3">23학번</option>
          <option value="4">24학번</option>
        </select>
    </div>



    <div class="bedtime_button">취침 시간</div>

    <div class="bedtime-container">
        <select name="bed_time" class = 'bed_time_select'>
          <option value="0" selected>22~23시</option>
          <option value="1">23시~00시</option>
          <option value="2">00시~01시</option>
          <option value="3">01시~02시</option>
          <option value="4">02시 이후</option>
        </select>
    </div>


    <div class="mbti_button">MBTI</div>

    <div class="mbti-container">
      <input type="text" class="mbti-input" placeholder="mbti를 입력해주세요">
    </div>

    <div class="major_button">전공</div>

    <div class="major-container">
      <select name="major" class = 'major_select'>
        <option value="0" selected>인문대</option>
        <option value="1">사회과학</option>
        <option value="2">공대</option>
        <option value="3">자연과학대</option>
        <option value="4">예체능</option>
        <option value="5">의학 및 보건</option>
      </select>
    </div>

    <div class="smoke_button">흡연 여부</div>

    <div class="smoke-container">
      <select name="smoke" class = 'smoke_select'>
        <option value="0" selected>흡연자</option>
        <option value="1">비흡연자</option>
      </select>
    </div>


    <div class="age_button">나이</div>

    <div class="age-container">
      <select name="age" class = 'age_select'>
        <option value="0" selected>01년생 이전</option>
        <option value="1">02년생</option>
        <option value="2">03년생</option>
        <option value="3">04년생</option>
        <option value="4">05년생</option>
      </select>
    </div>


    <div class="clean_button">청소 주기</div>

    <div class="clean-container">
      <select name="clean" class = 'clean_select'>
        <option value="0" selected>그때그때</option>
        <option value="1">중간</option>
        <option value="2">한번에</option>
      </select>
    </div>

    <div class="alcohol_button">술자리 빈도</div>

    <div class="alcohol-container">
      <select name="alcohol" class = 'alcohol_select'>
        <option value="0" selected>안마심</option>
        <option value="1">보통</option>
        <option value="2">자주</option>
        <option value="3">매일</option>
      </select>
    </div>


  </div>
  
</body>
</html>